<footer class="pt-5 my-5 text-body-secondary border-top text-center">
  <div class="container">
    <p>SLAC is operated by Stanford University for the U.S. Department of Energy’s <a href="https://www.energy.gov/science/office-science">Office of Science</a>.</p>
    <p>The Office of Science is the single largest supporter of basic research in the physical sciences in the United States and is working to address some of the most pressing challenges of our time.</p>

    <div class="my-4">
      <img src="{{ "/images/slac_black.png" | relative_url }}" alt="SLAC National Accelerator Laboratory" height=65 class="float-start">
      <img src="{{ "/images/stanford_black.png" | relative_url }}" alt="Stanford University" height=65 class="">
      <img src="{{ "/images/doe_black.png" | relative_url }}" alt="U.S. Department of Energy" height=65 class="float-end">
    </div>
  </div>
</footer>
