<nav class="navbar navbar-expand-lg bg-primary mb-4" id="top" data-bs-theme="dark">
  <div class="container">
    <img src="{{ "/images/slac.png" | relative_url }}" alt="SLAC" height=45 width=272 class="me-5 my-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in site.navigation %}
          <li class="nav-item me-2">
            {% if item.external %}
              <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
            {% else %}
              {% assign active = 'class="nav-link"' %}
              {% capture url_with_index %}{{ item.url }}/index.html{% endcapture %}
              {% if page.url == item.url or page.url == url_with_index %}
                {% assign active = 'class="nav-link active" aria-current="page"' %}
              {% endif %}
              <a {{ active }} href="{{ item.url | relative_url }}">{{ item.label }}</a>
              {% assign active = nil %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
